.scrollWrapper {
  height: auto;
  position: relative;
  text-align: center;
  padding: 0 30px;
  /* background: rgb(52, 58, 64);
  background: linear-gradient(0deg, rgba(52, 58, 64, 1) 0%, rgba(103, 115, 128, 1) 50%, rgba(52, 58, 64, 1) 100%); */
}

/* .tile {
  padding-bottom: 20rem;
  padding-top: 2rem;
} */

.scroll_menu {
  background: rgb(52, 58, 64);
  background: linear-gradient( 0deg, rgba(52, 58, 64, 1) 0%, rgba(103, 115, 128, 0.5) 50%, rgba(52, 58, 64, 1) 100%);
  overflow: auto;
  white-space: nowrap;
  position: relative;
  text-align: center;
  overflow-wrap: normal;
  position: relative;
  transition: 350ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  height: 14rem;
}

.scroll_menu div {
  display: inline-block;
  text-decoration: none;
}

.load {
  padding: 80px;
  margin: 20px auto;
}

/* .scroll_menu div:hover {
  background-color: #777;
} */

#left-button {
  left: 0;
}

#right-button {
  right: 0;
}

.scrollBtn {
  width: 30px;
  height: 100%;
  font-size: 20pt;
  color: deepskyblue;
  background-color: rgb(78, 78, 78);
  opacity: 0.5;
  z-index: 10;
  position: absolute;
  top: 0;
  margin: auto;
  display: flex;
  font-weight: 900;
}

.scrollArrow {
  margin: auto;
  text-align: center;
}

.scrollBtn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.scrollBtn:active {
  opacity: 0.9;
}

::-webkit-scrollbar {
  height: 5px;
  width: 0px;
  background: transparent;
}

/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
  background: rgb(1, 96, 128);
}

@media (min-width: 320px) {
  .scrollBtn {
    width: 18px;
  }
  .scrollWrapper {
    padding: 0px 18px;
  }
  .scroll_menu {
    height: 15rem;
  }
}

@media (min-width: 425px) {
  .scrollBtn {
    width: 18px;
  }
  .scrollWrapper {
    padding: 0px 18px;
  }
  .scroll_menu {
    height: 15rem;
  }
}

@media (min-width: 425px) {
  .scrollBtn {
    width: 18px;
  }
  .vidWrapper {
    padding: 0px 18px;
  }
  .scroll_menu {
    height: 17rem;
  }
}

@media (min-width: 768px) {
  .tile {
    width: 48%;
  }
  .scrollBtn {
    width: 18px;
  }
  .scrollWrapper {
    padding: 0px 18px;
  }
  .scroll_menu {
    height: 20rem;
  }

  .tileMargin {
    margin-right: 110px;
  }
}

@media (min-width: 1024px) {
  .scroll_menu {
    height: 19.5rem;
  }
}

/* @media (min-width: 1200px) {
  .scroll_menu {
    height: 25vh;
  }
} */

@media (min-width: 768px) {
  .row__inner {
    transition: 350ms -webkit-transform;
    transition: 350ms transform;
    transition: 350ms transform, 350ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .tile {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 140.625px;
    margin-right: 10px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 200ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .tile__details {
    position: absolute;
    top: 120%;
    left: 0%;
    height: 0%;
    width: 100%;
    font-size: 10px;
    opacity: 0;
    transition: 350ms opacity;
    z-index: 20;
  }
  /* 
.tile__details:after, .tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -115px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
}
.tile__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 0px;
  margin-top: -115px;
  text-align: center;
} */
  .tile:hover .vidBtn {
    opacity: 1;
  }
  .tile__title {
    position: absolute;
    padding: 10px;
    margin-left: -70px;
    margin-top: -170px;
  }
  .row__inner:hover .tile {
    opacity: 0.3;
  }
  .row__inner:hover .tile:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  .tile:hover~.tile {
    -webkit-transform: translate3d(125px, 0, 0);
    transform: translate3d(125px, 0, 0);
  }
  /* .row__inner:hover {
    -webkit-transform: translate3d(-62.5px, 0, 0);
    transform: translate3d(-62.5px, 0, 0);
  } */
}

.wrapper {
  padding-top: 50px;
  background: rgb(52, 58, 64);
  background: linear-gradient( 0deg, rgba(52, 58, 64, 0.85) 0%, rgba(103, 115, 128, 0.5) 50%, rgba(52, 58, 64, 1) 100%);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

p, h1, h2, h3, h4, h5 {
  color: deepskyblue;
}

a:hover {
  color: deepskyblue;
}

#logo {
  color: deepskyblue;
}