.scroll_menu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  position: relative;
  margin: 0px auto;
  margin-top: 10px;
}

.scroll_menu div {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

.scroll_menu div:hover {
  background-color: #777;
}

#slideLeft {
  float: left;
}

#slideRight {
  float: right;
}

.scrollBtn {
  width: 60px;
  height: 60px;
  font-size: 20pt;
  position: relative;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgb(81, 115, 187);
  opacity: 0.5;
}

.scrollBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

::-webkit-scrollbar {
  height: 4px;
  width: 0px;
  background: transparent;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
