logout {
  padding: 5px 10px;
  background-color: white;
  color: gray;
}

logout:hover {
  cursor: pointer;
  background-color: rgb(236, 236, 236);
  color: rgb(102, 102, 102);
}

.logout {
  color: rgb(156, 156, 156);
  /* background-color: beige; */
}

.logout:hover {
  cursor: pointer;
  color: rgb(201, 201, 201);
}