

iframe {
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.sml_iframe {
  height: 100%;
  width: 100%;
}

.big_iframe {
  height: 100%;
  width: 100%;
}

.sml_iframe > .ytp-icon {
  width: 20px;
}

/* .sml_iframe > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.sml_iframe > .img-container > img {
  width: 60%;
}

.sml_iframe > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.sml_iframe > .content > ul {
  list-style-type: none;
}

.sml_iframe > .content > ul > li {
  margin-top: 18px;
} */

@media (min-width: 320px) {
  .sml_iframe {
    height: 70px;
    width: 100px;
    text-align: center;
  }

}

@media (min-width: 768px) {
  .sml_iframe {
    height: 100px;
    width: 200px;
    text-align: center;
  }

}

@media (min-width: 1024px) {
  .sml_iframe {
    height: 100px;
    width: 200px;
    text-align: center;
  }

}
