.sml_iframe_container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  background-color: black;
}

.sml_iframe:hover {
  box-shadow: 0;
}

.sml_iframe_container img {
  z-index: 2;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.sml_title {
  color: beige;
  font-size: 12px;
  max-width: 150px;
  display: inline;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* border-style: dotted; */
  border-color: red;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.title_wrap {
  opacity: 1;
}

.big_iframe {
  width: 100%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  background: rgb(52,58,64);
}

.jumboList {
  padding: 0px;
  margin: 0;
}

@media (min-width: 320px) {
  .sml_iframe {
    /* height: 70px; */
    height: 9rem;
    /* width: 100px; */
    width: 15rem;
    text-align: center;
  }
  .sml_title {
    max-width: 150px;
  }
  .big_iframe {
    height: 16rem;
  }
}

@media (max-width: 320px) {
  .title_wrap {
    opacity: 1;
  }
}

@media (max-width: 375px) {
  .title_wrap {
    opacity: 1;
  }
}

@media (max-width: 546px) {
  .title_wrap {
    opacity: 1;
  }
}

@media (min-width: 375px) {
  .sml_iframe {
    height: 9rem;
    width: 18.25rem;
    text-align: center;
  }
  .sml_title {
    max-width: 150px;
  }
}

@media (min-width: 425px) {
  .sml_iframe {
    height: 11rem;
    width: 21.25rem;
    text-align: center;
  }
  .sml_title {
    max-width: 150px;
  }
  .big_iframe {
    height: 18rem;
  }
}

@media (min-width: 576px) {
  .sml_iframe {
    height: 11rem;
    width: 24rem;
    text-align: center;
  }
  .sml_title {
    max-width: 150px;
  }
  .big_iframe {
    height: 18rem;
  }
}

@media (min-width: 768px) {
  .sml_iframe {
    height: 8rem;
    width: 14.5rem;
    text-align: center;
  }
  .big_iframe {
    height: 28rem;
  }
}

@media (min-width: 1024px) {
  .sml_iframe {
    height: 9rem;
    width: 15.25rem;
    text-align: center;
  }
  .big_iframe {
    height: 28rem;
  }
}

@media (min-width: 1200px) {
  .big_iframe {
    height: 36rem;
  }
}