.wrapper {
  padding-top: 50px;
  background: rgb(52, 58, 64);
  background: linear-gradient(0deg, rgba(52, 58, 64, .85) 0%, rgba(103, 115, 128, .5) 50%, rgba(52, 58, 64, 1) 100%);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

p {
  color: deepskyblue;
}

h4 {
  color: deepskyblue;
}

h5 {
  color: deepskyblue;
}