.wrapper {
  padding-top: 50px;
  background: rgb(52, 58, 64);
  background: linear-gradient(0deg, rgba(52, 58, 64, .85) 0%, rgba(103, 115, 128, .5) 50%, rgba(52, 58, 64, 1) 100%);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

p, h1, h2, h3, h4, h5 {
  color: deepskyblue;
}

#logo {
  color: deepskyblue;
}

.userPage {
  margin-bottom: 10rem;
}

.userInfo {
  margin-left: 50rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  padding: 2rem;
}

.userImg {
  height: 10rem;
  width: 10rem;
}