.btnGroup {
  position: relative;
  margin: 0;
  width: 100%;
  padding: 5px;
  z-index: 99;
  opacity: 0;
}

.vidBtn {
  background-color: rgb(0, 157, 209);
  color: beige;
  text-align: center;
  border: none;
  box-shadow: 2px 2px 4px #5f5f5f;
  font-size: 10px;
  outline: none;
  height: 20px;
  width: 40%;
  position: relative;
  margin: 2px;
  opacity: 0;
}

.vidBtn:hover {
  cursor: pointer;
  background-color: rgb(1, 96, 128);
}

.vidBtn:disabled {
  background-color: #5f5f5f;
  box-shadow: none;
  outline: 0;
}

@media (min-width: 320px) {
  .vidBtn {
    font-size: 8px;
    width: 46%;
    opacity: 1;
  }
}

@media (min-width: 375px) {
  .vidBtn {
    font-size: 8px;
    width: 46%;
    opacity: 1;
  }
}

@media (min-width: 425px) {
  .vidBtn {
    font-size: 8px;
    width: 46%;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .vidBtn {
    font-size: 8px;
    width: 46%;
    opacity: 0;
  }
}