.splash {
  background: #343a40;
}

.background{
  background: #343a40;
  height: 55vh;
  color: deepskyblue;
  width: 100%;
}

.splashHeadder1{
  font-size: 8vh
}

.splashHeadder2{
  font-size: 3vh
}

.splashImg{
  height: 5vh;
  margin-top: -3vh;
}


/* body {
  justify-content: center;
} */

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from { transform: translate3d(0, 0, 0);     }
  to   { transform: translate3d(0, 30px, 0); }
}

@-webkit-keyframes bounce {
  from { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  to   { -webkit-transform: translate3d(0, 30px, 0); transform: translate3d(0, 200px, 0); }
}

@media (min-width: 425px) {
  .splashImg{
    height: 5vh;
  }
}

@media (min-width: 768px) {
  .splashImg{
    height: 5vh;
    margin-top: 8vh;
  }
  .splashHeadder1{
    font-size: 10vh;
    margin-bottom: 3%
  }
  .splashHeadder2{
    font-size: 3vh
  }
}

@media (min-width: 1024px) {
  .splashImg{
    height: 5vh;
    margin-top: 10vh;
  }

  .splashHeadder1{
    font-size: 10vh;
    margin-bottom: 3%
  }
  .splashHeadder2{
    font-size: 3vh
  }
}


